{% extends 'base.html' %}
{% block content %}
    <header>
        <h1> All Reports </h1>
        <a href="{{ url_for('administration.select_appointment') }}"><button id="addReportButtonAdmin">I want to add a report instead</button></a>
    </header>
    <main id="main-ul-box">
        {% if reports is none %}
            <h3> There are currently no reports in the database! </h3>
        {% else %}
            {% for report in reports %}
                <div class="ul-box">
                    <ul>
                        <li><strong>Appointment ID:</strong> {{ report.appointment_id }}</li>
                        <li><strong>Report Status:</strong> {{ report.status }}</li>
                        <li><strong>Report Date:</strong> {{ report.date_report }}</li>
                        <li><strong>Employee Feedback:</strong> {{ report.feedback_employee }}</li>
                        <li><strong>Customer Feedback:</strong> {{ report.feedback_customer }}</li>
                        <a href="{{ url_for('administration.delete_report', report_id = report.report_id) }}"><button class="delete-report" id="{{ report.report_id }}">Delete This Report!</button></a>
                        <a href="{{ url_for('administration.change_report', report_id = report.report_id) }}"><button>Change This Report!</button></a>
                    </ul>
                </div>

            {% endfor %}
        {% endif %}
    </main>
    <footer>

    </footer>
{% endblock content %}