{% extends 'base.html' %}
{% block content %}
    <header>
    </header>
    <main>
        <section class="section-form">
            <div class="formWrapper">
                <h1>Register Here!</h1>
                <form action="{{ url_for('userAuthentication.register') }}" method="POST" enctype="multipart/form-data">
                    {{user_form.hidden_tag() }}
                    <div class="inputBox">
                        {{user_form.user_type(placeholder="Choose your user type!")}}
                    </div>
                    <div class="inputBox">
                        {{user_form.username(placeholder="Enter your new username!")}}
                    </div>
                    <div class="inputBox">
                        {{user_form.password(placeholder="Enter your new password!")}}
                    </div>
                    <div class="inputBox">
                        {{user_form.email(placeholder="Enter your email!")}}
                    </div>
                    <div class="inputBox">
                        {{user_form.user_image(placeholder="Upload your profile picture")}}
                    </div>
                    <div class="inputBox">
                        {{user_form.phone_number(placeholder="Enter your phone number!")}}
                    </div>
                    <div class="inputBox">
                        {{user_form.address(placeholder="Enter your address!")}}
                    </div>
                    <div class="inputBox">
                        {{user_form.age(placeholder="Enter your age!")}}
                    </div>
                    <div class="inputBox">
                        {{user_form.speciality(placeholder="Enter your speciality!", value="Not Applicable", class="hidden")}}
                    </div>
                    {{user_form.submit(class="btn")}}
                </form>
            </div>
        </section>
    </main>
{% endblock content %}